# C++ 编译后的文件
# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.la
*.lo

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# 编译生成的可执行文件（无扩展名）
# Executable files (no extension)
hello
bonjour
a.out

# 忽略以Ex开头的无扩展名执行文件
# Ignore executable files starting with Ex (no extension)
Ex[0-99]*
!Ex*.cpp
!Ex*.h
!Ex*/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Qt-related
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
build/
[Bb]uild/

# Visual Studio Code
.vscode/
*.code-workspace

# IDEs
.idea/
*.swp
*.swo
*~
.DS_Store
